/*
 * Reset
 */
html {
  border: 0;
  overflow: hidden;
  cursor: default;
}

body {
  border: 0;
  padding: 0;
  margin: 0;
}


/*
 * Fonts
 */
html, input, textarea, select, button {
  font: caption; /* Use native UI fonts */
  /* Windows 8.1 (Or IE11?), or setting text scaling will cause text to appear
   * too big under Windows. Setting explicit size in points appear to make
   * things better.
   *
   * This isn't needed under OSX, but for now just apply it to all platforms.
   */
  font-size: 9pt;
}


/*
 * Colors
 */
html {
  background: ThreeDFace; /* Use native window background */
}


/*
 * Buttons
 */
button {
  width: 80px;
  height: 25px;
}
